@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke:0.5px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@layer components {
  /* custom class for player buttons */
  .button {
    @apply h-5 w-5 cursor-pointer hover:scale-125 transition transform duration-150 ease-in-out;
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.links a {
  color: white;
}
.links a:hover {
  text-decoration: underline;
}