@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.5px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@layer components {
  /* custom class for player buttons */
  .button {
    @apply h-5 w-5 cursor-pointer hover:scale-125 transition transform duration-150 ease-in-out;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* web links styling in SHOW page description html if present  */
.links a {
  color: white;
}
.links a:hover {
  text-decoration: underline;
}

/* Toast Notification style overide */
.Toastify__toast {
  border-radius: 12px 3px 12px 3px !important;
  min-height: 50px !important;
}


/* POSITION ADJUSTMENTS FOR MAGNIFY GLASS IN SEARCH BAR */
/* specific CSS rules for Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .magnifying-glass-icon {
    top: 24px;
  }
}
/* specific CSS rules for Firefox */
@-moz-document url-prefix() {
  .magnifying-glass-icon {
    top: 40px;
    z-index: 10;
  }
}

/* SYLING FOR VOLUME & PLAYER PROGRESS BARS */
/* TRACK & THUMB IN INPUT */
#seek {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress track  */
  overflow: hidden;
  border-radius: 16px;
}

#volume-control {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  /* width: 100%; */
  cursor: pointer;
  outline: none;
  /*  slider progress track  */
  overflow: hidden;
  border-radius: 16px;
}


/* Track: webkit browsers */
#seek::-webkit-slider-runnable-track,
#volume-control::-webkit-slider-runnable-track {
  height: 6px;
  background: #b3b3b3;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
#seek::-moz-range-track,
#volume-control::-moz-range-track {
  height: 6px;
  background: #b3b3b3;
  border-radius: 16px;
}

/* Thumb: webkit */
#seek::-webkit-slider-thumb,
#volume-control::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 6px;
  width: 10px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid white;
  /*  slider progress track  */
  box-shadow: -402px 0 0 400px white;
}

/* Thumb: Firefox */
#seek::-moz-range-thumb,
#volume-control::-moz-range-thumb {
  height: 6px;
  width: 6px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid white;
  /*  slider progress track  */
  box-shadow: -402px 0 0 400px white;
}

/* HOVER STYLES*/
#seek:hover::-moz-range-thumb,
#volume-control:hover::-moz-range-thumb {
  /* styles for the thumb on hover (Firefox) */
  background-color: white;
  border-color: white;
  box-shadow: -402px 0 0 400px #22C55E;
}
#seek:hover::-webkit-slider-thumb,
#volume-control:hover::-webkit-slider-thumb {
  /* styles for the thumb on hover (Webkit) */
  background-color: white;
  border-color: white;
  box-shadow: -402px 0 0 400px #22C55E;
}

/* Track: webkit browsers */
#seek:hover::-webkit-slider-runnable-track,
#volume-control:hover::-webkit-slider-runnable-track {
  height: 6px;
  /* background: white; */
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
#seek:hover::-moz-range-track,
#volume-control:hover::-moz-range-track {
  height: 6px;
  /* background: white; */
  border-radius: 16px;
}

/* KEYBOARD FOCUS styles */
#seek:focus-visible,
#volume-control:focus-visible {
  outline: 2px solid #22C55E;
}

#seek:focus-visible::-moz-range-thumb,
#volume-control:focus-visible::-moz-range-thumb {
  /* styles for the thumb on hover (Firefox) */
  background-color: white;
  border-color: white;
  box-shadow: -402px 0 0 400px #22C55E;
}

#seek:focus-visible::-webkit-slider-thumb,
#volume-control:focus-visible::-webkit-slider-thumb {
  /* styles for the thumb on hover (Webkit) */
  background-color: white;
  border-color: white;
  box-shadow: -402px 0 0 400px #22C55E;
}


